/* ESTRUTURA - FLEX*/

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

*{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.content{
	flex-grow: 1;
}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
	text-align: center;
    background: #F7F7F7;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.form-control{width: 200px !important;}

.btn-outline-dark:hover{
    background: #1b1b1b !important; 
}

/* ESTILOS GERAIS */

.btn{
   font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   font-size: 11px !important;
   padding-top: 7px !important;
}

a{
    text-decoration: none !important;
    cursor: pointer;
    color: #0f1014 !important;
}

.menu-desktop li a, .menu-mobile li a, footer a{
   opacity: 0.9; 
}

.menu-desktop li a:hover, .menu-mobile li a:hover, footer a:hover{
   opacity: 1; 
}


li{
    list-style: none;
}

html{scroll-behavior: smooth;}

/* HEADER - FLEX*/

.logo{
    display: flex;
    justify-content: center; /* logo centralizado */
    margin: 20px auto;
}

.menu-desktop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    background: #FDFDFD;
    padding: 20px;
}

.menu-desktop li+li{
    margin-left: 50px;
}

.menu-mobile{display: none;}

@media(max-width: 900px){
    
    .menu-mobile{
        display: block;
        text-align: center;
        background: #FDFDFD !important;
        padding: 5px;
    }
    
    .menu-mobile{
        padding: 5px;
    }
    
    .menu-desktop{display: none;}
    
    .footer-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-info input, a{
        margin-top: 10px;
    }
    
}

.active{
    border-bottom: 1px solid #0f1014;
}

/* efeito hover nos links do menu */
/*
.menu-desktop li a::after {
	content: '';
	display: block;
	background: black !important;
	height: 1px;
	width: 0;
	transition: .3s;
}

.menu-desktop li a:hover::after{
	width: 100%;
}
*/

/* CONTENT - EDITORIALS(INDEX) - FLEX */

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.figure-box{
    padding: 10px;
}

.figure-box img{
    opacity: 1 !important;
}

.figure-box figcaption{
    max-width: 309px;
    text-align: justify;
    margin-top: 15px;
}

.figure-box figcaption h5{
    font-family: 'Playfair Display', serif;
    text-transform: none;
    text-align: center;
}

.figure-box figcaption p{
    font-size: 11px;
    margin: 10px;
}

/* CONTENT - INTERVIEWS - FLEX */

.interviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 20px;
}

.main{
    display: flex;
    flex-direction: column;
}

.main img{
    padding: 10px;
}

.main h5{
    padding: 10px 10px 0px;
}

.main p{
    max-width: 650px;
    font-family: 'Playfair Display', serif;
    text-transform: none;
    padding: 0px 10px;
    font-size: 15px;
}

.main b{
    font-family: 'Playfair Display', serif;
    text-transform: none;
    padding: 10px;
    font-size: 15px;
}

.main button{
    margin: 10px;
    margin-top: 20px;
}

.others{display: block;}

.others{
    display: flex;
    flex-direction: column;
}

.others img{
    padding: 10px;
    max-width: 320px;
}

@media(max-width: 1200px){
    .others{display: none;}
}

.ads{
    background: #FDFDFD;
    margin: 10px;
}

/* CONTENT - LOREM IPSUM(ENSAIO) - FLEX */

.title h3{
    font-family: 'Playfair Display', serif;
    text-transform: none;
}

/*
.description-box h4{
    font-family: 'Playfair Display', serif;
    text-transform: none;
    min-width: 200px;
    max-width: 350px;
    margin: 20px;
    padding: 20px;
    border: 5px solid #1b1b1b;
}
*/

.description-box h4{
    font-family: 'Playfair Display', serif;
    text-transform: none;
    min-width: 200px;
    max-width: 400px;
    margin: 20px;
    padding: 10px;
}

.description-box h4::first-letter {
  font-size: 30px;
  font-weight: bold;
}

.img-area-editorial{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 980px;
    margin: 0 auto;
}

.img-area-editorial img{
    padding: 10px; /* este padding aliado a classe "shadow" do bootstrap que dá forma à borda branca das imagens */
    margin: 10px;
}

@media(max-width: 991px){
    .img-area-editorial img{text-align: center;}
    .img-area-editorial :nth-child(3) { order: 4;} /* mudar a ordem dos elementos "filhos" de "img-area-editorial" */
    .img-area-editorial :nth-child(4) { order: 3;} /* mudar a ordem dos elementos "filhos" de "img-area-editorial" */
    .description-box{text-align: center;}
    
    /* EFEITO SCROLL MOBILE */
    
    .anime{
        opacity: 0;
        transition: .5s;
    }
    
    .animate{
        opacity: 1;
    }
}

/* EFEITO SCROLL */

@media(min-width: 992px){
	
    .first-description{
        opacity: 1 !important;
        transform: translate3d(0, 0px, 0) !important; /* sem efeito */
    }

    .anime{
        opacity: 0;
        transform: translate3d(0, -50px, 0); /* de cima pra baixo */
        transition: .5s;
    }

    .animate{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.hr-h4bottom{
  margin-top: 25px;
}
