/* ESTRUTURA */

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

*{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

/* ESTILOS GERAIS */

.btn{
   font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   font-size: 11px !important;
   padding-top: 7px !important;
}

a{
    text-decoration: none !important;
    cursor: pointer;
    opacity: 0.9;
    color: #0f1014 !important;
}

a:hover{
   opacity: 1; 
}


li{
    list-style: none;
}

html{scroll-behavior: smooth;}

/* HEADER */

.logo{
    display: flex;
    justify-content: center; /* logo numa ponta e menu na outra ponta */
    margin: 15px auto;
}

.menu-desktop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    background: #FDFDFD;
    padding: 20px;
}

.menu-desktop li+li{
    margin-left: 50px;
}

.menu-mobile{display: none;}

@media(max-width: 900px){
    
    .menu-mobile{
        display: block;
        text-align: center;
        background: #FDFDFD !important;
        padding: 5px;
    }
    
    .menu-mobile li{
        padding: 5px;
    }
    
    .menu-desktop{display: none;}
    
    .footer-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-info input, a{
        margin-top: 10px;
    }
    
}

/* CONTENT */

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.figure-box{
    padding: 10px;
}

.figure-box figcaption{
    max-width: 309px;
    text-align: justify;
    margin-top: 15px;
}

.figure-box figcaption h5{
    font-family: 'Playfair Display', serif;
    text-transform: none;
    text-align: center;
}

.figure-box figcaption p{
    font-size: 11px;
    margin: 10px;
}

.img-area img:hover{
    opacity: .5;
    transition: .9s;
}

.form-control{width: 200px !important;}

footer{
    bottom: 0;
    left: 0;
    width: 100%;
	text-align: center;
    background: #F7F7F7;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
